body {
    background-image: linear-gradient(180deg, var(--crvena), var(--plava), white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.section img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    opacity: 50%;
    user-select: none;
}

.title {
    font-size: 25px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.69);
}

/*------------------------------------*/

.panels {
    display: inline-block;
    width: 100%;
    justify-content: space-between;
}

.panel {
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.69);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.69);
    width: 100%;
    display: inline-block;
    vertical-align: top;
    backdrop-filter: blur(10px);
}

.panelContent h1 {
    margin: 20px;
}

.panelContent p {
    margin: 20px;
}

.alignDivs {
    text-align: center;
}

.examplePanel {
    max-width: 500px;
}

.markText {
    background-color: rgba(128, 0, 100, 0.4);
    border-radius: 5px;
}
/*------------------------------------*/
.scrollButton {
    font-size: 50px;
    color: white;
    transition: text-shadow .3s;
    user-select: none;
}

.scrollButton:hover {
    text-shadow: 0px 0px 50px lightseagreen;
}

.scrollButton:active {
    background-color: transparent;
}

#LP {
    margin-bottom: 50px;
}

.learnButton {
    background-color: white;
    padding: 30px;
    font-size: 28px;
    border-radius: 20px;
    color: white;
    transition: background-color .3s, transform .3s, box-shadow .3s, text-shadow .5s;
}

.learnButton:hover {
    box-shadow: 0px 5px rgb(50, 50, 50);
    text-shadow: 0px 0px 30px lightseagreen;
}

.learnButton:active {
    background-color: rgb(36, 36, 36);
    transform: translateY(4px);
}