/*Nav style*/
.navbar {
    width: 100%;
    display: inline-block;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.navbarTitle {
    position: absolute;
}

.navbar img {
    height: 50px;
    padding: 5px;
    float: left;
}

.navbar ul {
    display: inline-flex;
    float: right;
    margin-top: 2px;
    padding-right: 15px;
}

.navbar li {
    padding: 12px;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color .3s, border-radius .3s;
}

.navbar li:hover, :focus {
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}